<% include ../partials/header %>
<div class="row">
  <div class="col-md-4">
    <h1><%=user.firstName + " " + user.lastName%></h1>
    <div class="thumbnail">
        <img src="<%=user.avatar%>" alt="user profile avatar">
        <div class="caption">
          <a href="mailto:<%=user.email%>"><%=user.email%></a>
        </div>
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias numquam obcaecati, laudantium a totam eligendi similique quae molestiae unde dolore nobis quos ipsum porro rerum corrupti recusandae aut harum. 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cum ipsa minima, maiores aperiam repellat itaque numquam, corrupti similique consequatur molestiae sed reprehenderit enim. Eligendi totam unde eum sunt ex.
  </div>
  <div class="col-md-8">
    <h3><%=user.username%>'s campgrounds</h3>
    <% campgrounds.forEach(function(campground){%>
      <ul>
        <li><a href="/campgrounds/<%=campground.id%>"><%= campground.name %></a></li>
      </ul>
    <%})%>
  </div>
</div>
<% include ../partials/footer %>